.contacts {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-end;
}

.contacts li {
  margin-left: 87px;
  padding: 17px 0;

  @media (max-width: 1065px) {
    margin-left: 50px;
  }

  @media (max-width: $tablet-width) {
    margin-left: 33px;
  }

  @media (max-width: $mobile-width) {
    margin-left: 23px;
  }
}

.contacts__link {
  display: flex;
  align-items: center;
  line-height: 18px;
  color: inherit;
  text-decoration: none;
}

.contacts__link:hover {
  color: $color-accent-100;
}

.contacts__link:active {
  opacity: 0.7;
}

.contacts__link span {
  @media (max-width: $tablet-width) {
    display: none;
  }
}

.contacts__link-icon {
  display: block;
  margin-right: 17px;
  fill: $color-accent-100;

  @media (max-width: $tablet-width) {
    margin-right: 0;
  }
}

.contacts__link-icon--email {
  @media (max-width: $tablet-width) {
    width: 26px;
    height: 19px;
  }
}

.contacts__link-icon--phone {
  @media (max-width: $tablet-width) {
    width: 24px;
    height: 24px;
  }
}
