.logo svg {
  display: block;

  @media (max-width: $mobile-width) {
    width: 38px;
    height: 38px;
  }
}

.logo__icon--desktop {
  @media (max-width: $mobile-width) {
    display: none;
  }
}

.logo__icon--mobile {
  display: none;

  @media (max-width: $mobile-width) {
    display: block;
  }
}
