// Colors

$color-accent-100: #00b2ff;
$color-accent-200: #1b2d37;

$color-white: #ffffff;
$color-gray-100: #fafafa;
$color-gray-300: #c4c4c4;
$color-gray-500: #cdcdcd;
$color-gray-700: #666666;
$color-gray-750: #626962;
$color-gray-800: #1b2d37;
$color-black: #000000;

// Viewports

$mobile-width: 767px;
$tablet-width: 1023px;
$desktop-width-only: 1024px;
